<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <!-- <link rel="stylesheet" href="/css/jass.css"> -->
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <nav>
                <ul class="nav-list">
                    <li class="nav-list-items"><a href="/">Home</a></li>
                    <li class="nav-list-items"><a href="#">Dashboard</a></li>
                    <!--Conditionally render login/logout links-->
                    {{#if logged_in}}
                    <li class="nav-list-items"><a href="#">Logout</a></li>
                    {{else}}
                    <li class="nav-list-items"><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h1>The Tech Blog</h1>
        </header>

        <main>
           <!--Render the sub layout-->
           {{{body}}}
        </main>

        <!-- {{#if logged_in}}
            <script src="/js/logout.js"></script>
            {{/if}} -->
    </body>

</html>