<div class="dashboard-flex">
    <h1>Hello, {{user.name}}!</h1>
    <h2>Your Dashboard</h2>
    <ul>
        {{#each posts as |post|}}
        <li><a href="/post/{{post.id}}">{{post.title}}</a></li>
        {{/each}}
    </ul>
    <a href="/createPost">Create Post</button>
</div>
