<section class="post-card">
    <div class="post-header">
        <h2>Sign Up</h2>
    </div>
    <form class="signup-form">
        <div class="form-flex">
            <div class="">
                <label for="username-signup">Username: </label>
                <input class="form-input" type="text" id="username-signup">
            </div>
            <div class="">
                <label for="email-signup">Email: </label>
                <input class="form-input" type="text" id="email-signup">
            </div>
            <div class="">
                <label for="password-signup">Password: </label>
                <input class="form-input" type="password" id="password-signup">
            </div>
            <div class="">
                <button class="" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
    <a href="/login">Log in instead</a>
</section>

<script src="./js/login.js"></script>