<section class="post-card">
    <div class="post-header">
        <h2>Update Post</h2>
    </div>
    <form class="updatePost-form">
        <div class="form-flex">
            <div class="">
                <label for="post-title-input">Title: </label>
                <input class="form-input" type="text" id="post-title-input" value="{{title}}">
            </div>
            <div class="">
                <label for="post-description-input">Description: </label>
                <input class="form-input" type="text" id="post-description-input" value="{{post_description}}">
            </div>
            <div class="">
                <button class="" type="submit">Update</button>
                <button class="" type="submit">Delete</button>
            </div>
        </div>
    </form>
</section>

<script src="/js/post.js"></script>