:root{
    --tristangreen: #68a055;
    --sage: #a7b688;
    --aniblue: #a7bffd;
}

/* differentiating header and main boxes */
*{
    background-color: var(--sage);
}

/* by default, all anchor tags white with no text decoration */
a{
    color: white;
    text-decoration: none;
}

/* by default, all anchor tags change to light gray on hover */
a:hover{
    color: lightgray;
    text-shadow: 2px 2px gray;
}

/* color the entire background of the header */
header, header > *, .nav-list, .nav-list > * , .nav-list-items > * {
    background-color: var(--tristangreen);
}

/*remove styling from li */
li{
    list-style: none;
}

/*nav bar */
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*nav bar items */
.nav-list-items{
    padding: 10px;
    
}

/*cards to hold content */
.post-card{
    margin: 20px;
}

/* make sure styling applies to everything in bottom of card */
.post-description-style > * {
    background-color: lightgray;
    padding: 20px;
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*header for posts*/
.post-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

/* children of post header (mainly text) */
.post-header > *{
    background-color: darkslategray;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px gray;
}

/* color the background of the post-header title links */
.post-header > * > * {
    background-color: darkslategray;
}

/*header for adding comment */
.comment-header{
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

/* children of comment header (mainly text) */
.comment-header > * {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: darkslategray;
    text-shadow: 2px 2px gray;
    font-size: 25px;
}

/* flex for form layout */
.form-flex{
    display: flex;
    flex-direction: column;
}

/* form input */
.form-input{
    margin: 5px;
    background-color: whitesmoke;
    padding: 5px;
}

/*dashboard Flex */
.dashboard-flex{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

/*tech blog logo*/
.tech-blog-logo{
    font-family: "OCR A Std","Lucida Console", "Courier New", monospace;
    display: inline-block;
    background-color: darkslategray;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px gray;
}

/* turning logout button into not a button */
.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding-left: 7px;
  }

  .no-button:hover{
    color: lightgray;
    text-shadow: 2px 2px gray;
  }

  /* for filling in the backgrounds on login and sign-up screens */
  .login-fill{
    background-color: lightgray;
  }

  /*flex for comment input */
  .flex-comment-input{
    display: flex;
    justify-content: center;
  }

  /*flex for centering comment button */
  .flex-center-comment-btn{
    display: flex;
    justify-content: center;
  }

  .btn-style{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--aniblue);
    border: 2px solid cornflowerblue;
    color: white;
    font-weight: bold;
  }

.btn-style:hover{
    background-color:cornflowerblue;
    border: 2px solid var(--aniblue);
    box-shadow: 0px 0px 5px 5px white; 
}

.input-background{
    background-color: white;
}

.delete-btn-style{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: lightcoral;
    border: 2px solid red;
    color: white;
    font-weight: bold;
}

.delete-btn-style:hover{
    background-color:red;
    border: 2px solid lightcoral;
    box-shadow: 0px 0px 5px 5px white; 
}
